<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{request.session.username}}&nbsp;|&nbsp;<a href="/item/logout">logout</a>&nbsp;|&nbsp;<a href="/item">home</a>
    <h1> <strong> a item to the wish list:</strong></h1>
    <form action="/item/add_proccess" method="post">
        {% csrf_token %} 
        <p>item:</p><input type="text" name="thing">
        <input type="submit" value="add item">
    </form>
</body>
</html>