<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{request.session.username}}&nbsp;|&nbsp;<a href="/item/logout">logout</a>&nbsp;|&nbsp;<a href="/item">home</a>
    
   <h1> <strong>item:</strong> {{item.thing}}</h1>
  

   {%for x in show%}
   <p> <strong> wished by:</strong> {{x.username}}</p>
   {%endfor%}
</body>
</html>